<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Escolher Curso e Disciplina</title>
  <link rel="stylesheet" href="css/DisciplinaECurso.css">
</head>
<body>
  <div class="container">


    <input type="checkbox" id="mostrarDisciplinas" hidden>

    <!-- TELA DE CURSOS  -->
    <div class="tela cursos">
      <h1>Escolha seu Curso</h1>

      <label for="mostrarDisciplinas" class="curso-card">
        <h2>Desenvolvimento de Sistemas</h2>
        <p>Aprenda programação de forma divertida! </p>
      </label>
    </div>

    <!-- TELA DE DISCIPLINAS -->
    <div class="tela disciplinas">
      <h1>Disciplinas de Desenvolvimento de Sistemas</h1>

      <!-- TODAS AS DISCIPLINAS POSSÍVEIS  -->
      <div class="disciplinas-lista">
        <div class="disciplina"><h3>Programação de Algoritmos</h3><a href="quiz.html?disciplina=1">Jogar Quiz</a></div>
        <div class="disciplina"><h3>Banco de Dados</h3><a href="quiz.html?disciplina=2">Jogar Quiz</a></div>
        <div class="disciplina"><h3>Desenvolvimento de Sistemas</h3><a href="quiz.html?disciplina=3">Jogar Quiz</a></div>
        <div class="disciplina"><h3>Programação de Aplicativos Mobile</h3><a href="quiz.html?disciplina=4">Jogar Quiz</a></div>
        <div class="disciplina"><h3>Análise e Projeto de Sistemas</h3><a href="quiz.html?disciplina=5">Jogar Quiz</a></div>
        <div class="disciplina"><h3>Sistemas Embarcados</h3><a href="quiz.html?disciplina=6">Jogar Quiz</a></div>
        <div class="disciplina"><h3>Segurança de Sistemas de Informação</h3><a href="quiz.html?disciplina=7">Jogar Quiz</a></div>
        <div class="disciplina"><h3>Internet e Protocolos</h3><a href="quiz.html?disciplina=8">Jogar Quiz</a></div>
        <div class="disciplina"><h3>Inglês Instrumental</h3><a href="quiz.html?disciplina=9">Jogar Quiz</a></div>
        <div class="disciplina"><h3>Design Digital</h3><a href="quiz.html?disciplina=10">Jogar Quiz</a></div>
        <div class="disciplina"><h3>Ética e Cidadania Organizacional</h3><a href="quiz.html?disciplina=11">Jogar Quiz</a></div>
        <div class="disciplina"><h3>Linguagem, Trabalho e Tecnologia</h3><a href="quiz.html?disciplina=12">Jogar Quiz</a></div>
        <div class="disciplina"><h3>Programação Web</h3><a href="quiz.html?disciplina=13">Jogar Quiz</a></div>
        <div class="disciplina"><h3>Operação de Software Aplicativo</h3><a href="quiz.html?disciplina=14">Jogar Quiz</a></div>
      </div>
    </div>
  </div>
</body>
</html>
