<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viemport" content="width=device-width, initial-scale=1.0">
	<title>Quiz Educacional</title>
	<link rel="stylesheet" href="css/indexLogado.css">
</head>

<body>
	<header class="navbar">
		<div class="logo">Quiz Interativo </div>
		<nav>
			<ul>
				<li><a href="/indexLogado" class="inicio">Início</a></li>
				<li><a onclick="deslogar()" class="deslogar">Deslogar</a></li>
			</ul>
		</nav>
	</header>
	<br><br><br><br>

	<h1>Bem-vindo ao Quiz Interativo <span id="usuario"></span>!</h1>

	<div class="container">
		<h2>Selecionar opção</h2>
		<br>
		<div id="botoes">
			<a href="/disciplinaEcurso"><button class="btn">Iniciar Quiz</button></a>

			<a href="/ranking"><button class="btn">Pontuação </button></a>

		</div>
	</div>

	 <canvas id="matrix"></canvas>
	<script>

		const usuario = document.querySelector("#usuario")

		fetch("/api/usuario", {
			method: "GET",
			headers: {
				"content-Type": "application/json",
				"bearer": localStorage.getItem("token")
			}
		})
			.then((response) => {
				if (response.ok) {
					return response.json()
				} else {
					location.href = "/login"
				}
			})
			.then((result) => {
				usuario.innerHTML = result
			})
			.catch((err) => (console.error(err)))

		function deslogar() {
			localStorage.clear()
			location.href = "/"
		}

		const canvas = document.getElementById("matrix");
const ctx = canvas.getContext("2d");

canvas.width = window.innerWidth;
canvas.height = window.innerHeight;

// numeros
const letters = " 010100100101010101101110101101010010101 ";
const fontSize = 15;
const columns = canvas.width / fontSize;
const drops = Array(Math.floor(columns)).fill(1);

function draw() {
  ctx.fillStyle = "rgba(0, 80, 80, 0.05)";
  ctx.fillRect(0, 0, canvas.width, canvas.height);

  ctx.fillStyle = "rgba(0, 255, 255,1)";
  ctx.font = fontSize + "px monospace";

  for (let i = 0; i < drops.length; i++) {
    const text = letters.charAt(Math.floor(Math.random() * letters.length));
    ctx.fillText(text, i * fontSize, drops[i] * fontSize);

    if (drops[i] * fontSize > canvas.height && Math.random() > 0.970) {
      drops[i] = 0;
    }
    drops[i]++;
  }
}

setInterval(draw, 50);

window.addEventListener("resize", () => {
  canvas.width = window.innerWidth;
  canvas.height = window.innerHeight;
});
	</script>
</body>

</html>