<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="principal.css">
    <title>Quiz Educacional</title>
</head>

<body>

    <form>
        <main class="container" id="inicio-secao">
            <h1>Bem Vindo ao Quiz Interativo!</h1>
            <br>
            <p id="SobreTexto">Desafie seus conhecimentos e veja sua evolução a cada partida</p>
            <br>
            <p id="Sobre2Texto">Antes de jogar <b id="negrito">crie sua conta</b> no <b id>cadastrar</b>, caso não tenha
                uma.</p>
            <br>
            <button class="login" type="submit"><b id="negrito2"><a href="login.html">Login</b></button>
            <br>
            <br>
            <div> <button class="cadastrar" type="submit"><b id="negrito2"><a href="cadastro.html"></a>Cadastrar</b></button></div>
            <p></p>

            <div class="register-link">
            </div>
            </div>

    </form>
    </main>

    <header class="navbar">
        <div class="logo-container">
            <img src="LogoEtec.png" alt="Logo etec" class="logo-etec">
            <div class="logo">Quiz Interativo</div>
        </div>

        <nav>
            <a href="principal.html" class="linkT">Início</a>
            <a href="#sobre.html" class="linkT">Sobre</a>
            <button id="botao"><a href="login.html" class="login-btn">Entrar</a></button>
        </nav>
    </header>

</body>
</html>
