<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | Quiz ETEC</title>
  <link rel="stylesheet" href="css/login.css">
</head>
<body>
  <div class="background"></div>

  <div class="login-container">
    <div class="left">
      <h1><span>QUIZ</span> 
        <br>
        Etec<small> Albert Einstein</small></h1>
        
      <h2>Login</h2>
      <br>
      <form>
        <!-- INPUT PARA O USUÁRIO DIGITAR O EMAIL DELE  -->
        <div class="input-group">
          <label for="email">Usuário</label>
          <input type="text" id="email" placeholder="Digite seu usuário">
        </div>

        <div class="input-group">
          <!-- INPUT PARA O USUÁRIO DIGITAR A SENHA DELE  -->
          <label for="senha">Senha</label>
          <input type="password" id="senha" placeholder="Digite sua senha">
        </div>

        <div class="option">
          <!-- QUANDO CLICADO VAI PARA A TELA DE ESQUECISENHA  -->
          <a href="esquecisenha.html">Esqueceu sua senha?</a>
        </div>
        <!-- QUANDO CLICADO, VÊ SE TEM REALMENTE ESSE LOGIN E VAI PARA A TELA INICIAL DO QUIZ  -->
    <button type="button" id="btnLogin" class="btn-login">Login</button>


        <!-- CASO ELE NÃO TENHA UMA CONTA, QUANDO CLICAR VAI PARA A TELA DE CADFASTRO -->
        <p class="signup">Ou <a href="cadastro.html">inscrever-se</a></p>
      </form>
    </div>

    <div class="right">
      <!-- IMAGEM VERDE DA DIREITA  -->
      <img src="img/360_F_1291716737_16QEogJJ5iSfcZLor9PTfe3p8cwHOivJ.jpg" alt="fundo verde decorativo">
    </div>
  </div>
</body>
<script>
      const btnLogin = document.getElementById("btnLogin");

     btnLogin.addEventListener('click', async function (e) {
      
      e.preventDefault(); 

      const email = document.getElementById('email').value;
      const senha = document.getElementById('senha').value;

      try {
        
        const response = await fetch('/api/produtos', {

          method : 'POST', 
          headers: {'Content-Type' : 'application/json'}, 
          body: JSON.stringify({email, senha})

        }); 

        if(response.ok){

          alert('Produto criado com sucesso.');
          btnLogin.reset();
          loadProductos();
        }else{

          alert ('Erro ao criar produtos.');
        }

      } catch (error) {
        
        alert('Erro de comunicação com o servidor.')
      }



    })

</script>
</html>
