/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Fundo com imagem + gradiente */
body {
  min-height: 100vh;
  background: 
      url('../img/ImgEsquecisenha.png') repeat, /* coloque o caminho da imagem */
      linear-gradient(#013243, #001E25);
  background-size: 250px;
  background-blend-mode: normal;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Conteúdo central */
.container {
  background: #ffffff;
  padding: 40px 60px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: left;
  max-width: 480px;
  width: 90%;
}

/* Título */
.container h1 {
  font-size: 32px;
  color: #2F8788;
  font-weight: 700;
  margin-bottom: 10px;
}

/* Subtítulo */
.container h2 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
}

/* Texto */
.container p {
  font-size: 14px;
  color: #000;
  margin-bottom: 15px;
}

/* Campo de input */
.ema {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #aaa;
  font-size: 14px;
  margin-bottom: 15px;
}

/* Botão */
.login-btn {
  width: 100%;
  background: #2F8788;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #236566;
}

/* Links */
.lin {
  text-decoration: none;
  color: #2F8788;
  font-weight: 500;
}

.lin:hover {
  color: #00bcd4;
}

/* Ajuste responsivo */
@media (max-width: 480px) {
  .container {
    padding: 25px;
  }
}
