@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Momo Trust Display", sans-serif;
}

body {
   display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(270deg, #004f4f, #008080, #00b3b3, #004f4f);
    background-size: 400% 400%; 
    animation: gradient 15s ease infinite;
    flex-direction: column;
    overflow-y: auto;
}

.container {
    width: 420px;
    background-color: #fff ;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container h1{
    font-size: 36px;
    text-align: center;
    color: black;


}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .login {
    width: 100%;
    height: 30px;
    background-color: #7ffff6;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: 0 0 10px (0, 0, 0, .1);
  }

  .cadastrar {
    width: 100%;
    height: 30px;
    background-color: #7ffff6;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: 0 0 10px (0, 0, 0, .1);
  }

  #SobreTexto{
    text-align: center;
    color: #000000;
  }

  #negrito {
    color: #007676;

  }

  #Sobre2Texto{
    text-align: center;
    color: #000000;
  }

a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    color: #ffffff;
}

a:hover{
 opacity: 0.7;
}


.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
}


 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(15, 32, 39, 0.3); /* Transparente */
    backdrop-filter: blur(6px); /* Efeito de vidro  */
    padding: 15px 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
 }

 #botao{
    background: #02abab;
    border-radius: 20px;
    padding: 5px;
 }
 .linkT{
    padding: 10px;
 }

#negrito2{
color: #000000;

}
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-etec {
  height: 65px; 
  width: auto;
}

.linkT:hover {
    color: #00bcd4;
    transition: color 0.3s ease; 
}


#botao:hover {
    background-color: #008080; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
} 
 