body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 background: 
      url('../img/ImgEsquecisenha.png') repeat, 
      linear-gradient(#013243, #001E25); 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: 250px;
}

.container {
  background-color: #ffffff;
  width: 380px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.container h1 {
  font-size: 32px;
  color: #2F8788;
  font-weight: 700;
  margin-bottom: 10px;
}


.subtitulo {
  color: #333;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: #444;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 14px;
  transition: 0.3s;
}

input[type="password"]:focus {
  border-color: #008686;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 134, 134, 0.5);
}

button {
  background-color:#2F8788;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  transition: background 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background-color:#2F8788;
}

.voltar-login {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color:#2F8788;
  text-decoration: none;
}

.voltar-login:hover {
  text-decoration: underline;
}
